<div class="grid place-items-center w-full text-center custom-secondary-color py-16">
    <div class="px-12">
        <span class="montserrat-alternates-bold text-3xl border-b-2 border-white">Acerca de mi</span>
        <p class="poppins-light text-lg py-6">
             Graduada de la Carrera de Software apasionada por el diseño de experiencia de
                usuario (UX), interfaz de usuario (UI) y calidad    del software, busca oportunidad de aplicar sus
                conocimientos y aprender el uso de nuevas herramientas para poder ofrecer a los usuarios
                soluciones que sean agradables y eficientes.
        </p>
    </div>
</div>