<div class="grid grid-cols-2 md:grid-cols-5 lg:grid-cols-5 xl:grid-cols-5">
    <!-- <div class="box-titles col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-2xl p-2 montserrat-alternates-bold text-xl md:text-2xl lg:text-2xl xl:text-2xl text-white">
        <div class="rounded-3xl box-secondary h-full p-2 grid place-items-center shadow-lg">
            <p>Acerca de mi</p>
        </div>
    </div> -->
    <div class="box-titles col-span-2 md:col-span-2 lg:col-span-2 xl:col-span-2xl p-5 grid place-items-center">
        <img src="/assets/images/kenia-graduacion.jpg" alt="mi-foto" class="h-80 rounded-3xl">
    </div>
    <div class="p-4 md:p-8 lg:p-8 xl:p-8 col-span-2 md:col-span-3 lg:col-span-3 xl:col-span-3">
        <p class="montserrat-alternates-bold text-xl md:text-2xl lg:text-2xl xl:text-2xl">Acerca de mi</p>
        <hr class="mb-4">
        <p class="poppins-light text-base md:text-lg lg:text-lg xl:text-lg">Graduada de la Carrera de Software
            apasionada por el diseño de experiencia de
            usuario (UX), interfaz de usuario (UI) y calidad
            del software, busca oportunidad de aplicar sus
            conocimientos y aprender el uso de nuevas
            herramientas para poder ofrecer a los usuarios
            soluciones que sean agradables y eficientes.</p>
    </div>
</div>