<div class="px-8 py-4 md:py-12 lg:py-12 xl:py-12">
    <section class="h-1/2">
        <portfolio-about-section></portfolio-about-section>
    </section>
    <section class="mt-6">
        <div class="flex items-center justify-center space-x-4 pb-6">
            <hr class="flex-grow border-t-2 border-gray-300">
            <span class="text-2xl montserrat-alternates-bold">Mis Habilidades y Herramientas</span>
            <hr class="flex-grow border-t-2 border-gray-300">
        </div>
        <div class="grid grid-cols-3 h-1/3">
            <div class="rounded-lg h-full shadow-lg">
                <div class="box-titles text-white text-center py-2 text-xl montserrat-alternates-bold">
                    <p>Desarrollo</p>
                </div>
                <div class="py-4 px-8 poppins-light">
                    <ul class="list-styles">
                        <li> 
                            Desarrollo de Front-End mediante
                            el uso de HTML, CSS, Angular,
                            Bootstrap. Tailwind.
                        </li>
                        <li>
                            Conocimientos básicos en: Java, C# y SQL Server.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>