<div class="px-8 py-4 md:py-12 lg:py-12 xl:py-12">
    <section class="h-1/2">
        <portfolio-about-section></portfolio-about-section>
    </section>
    <section class="mt-12 mb-4">
        <portfolio-habilities-section></portfolio-habilities-section>
    </section>
    <section class="mt-12 mb-4">
        <portfolio-education-section></portfolio-education-section>
    </section>
    <section class="mt-12 mb-4">
        <portfolio-work-experience-section></portfolio-work-experience-section>
    </section>
</div>