<div class="pt-4 md:pt-12 lg:pt-12 xl:pt-12">
    <section class="h-1/2 px-4 md:px-8 lg:px-8 xl:px-8">
        <portfolio-about-section></portfolio-about-section>
    </section>
    <section class="mt-12 p-12">
        <portfolio-habilities-section></portfolio-habilities-section>
    </section>
    <section class="mt-12 mb-4 px-4 md:px-8 lg:px-8 xl:px-8">
        <portfolio-education-section></portfolio-education-section>
    </section>
    <section class="p-12">
        <portfolio-work-experience-section></portfolio-work-experience-section>
    </section>
</div>