<div class="grid grid-cols-4 gap-5 bg-base-100 rounded-lg p-2 background-pink-transparent shadow-lg">
    <div class="flex items-center justify-center">
        <img src="./assets/images/{{tools().image}}" alt="angular" class="w-32 rounded-full">
    </div>
    <div class="col-span-3 py-4">
        <p class="text-left text-xl mb-2">{{tools().tool}}</p>
        <div class="w-full h-4 mb-4 progress-background rounded-full">
                <div class="h-4 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-full" [ngStyle]="{'width': tools().percentKnoledge}"></div>
        </div>
        <p>Nivel: {{tools().level}}</p>
    </div>
</div>