<div id="contact" class="px-12 pt-14">
    <shared-titles [sectionTitle]="'Contáctame'"></shared-titles>
    <div class="grid grid-cols-2 place-items-center">
        <div class="grid place-items-center">
            <img src="/assets/images/linkedin.png" alt="linkedin" class="size-24">
            <p>/kenianieves</p>
        </div>
        
        <div class="grid place-items-center">
             <img src="/assets/images/correo.png" alt="linkedin" class="size-24">
            <p>{{correo}}</p>
        </div>
    </div>
</div>