    <!-- <div class="grid grid-cols-2 md:grid-cols-6 lg:grid-cols-6 xl:grid-cols-6 gap-4 px-8 py-4 md:py-12 lg:py-12 xl:py-12">
        <div class="col-span-2 place-items-center p-2">
                <img src="assets/images/kenianieves.jpg" alt="myPhoto" class="h-80 rounded-full border-8 image-border">
        </div>
        <div class="col-span-2 md:col-span-4 lg:col-span-4 xl:col-span-4 pr-2">
            <p class="geist-bold text-3xl md:text-5xl lg:text-5xl xl:text-5xl">Hola, soy</p>
            <h1 class="geist-bold text-gradient text-5xl md:text-7xl lg:text-7xl xl:text-7xl">Kenia Nieves</h1>
            <p class="geist-bold text-xl md:text-2xl lg:text-2xl xl:text-2xl">Desarrolladora FrontEnd | QA Tester | Diseñadora UX/UI</p>
            <p class="poppins-light text-base md:text-lg lg:text-lg xl:text-lg mt-2">
                Graduada de la Carrera de Software apasionada por el diseño de experiencia de
                usuario (UX), interfaz de usuario (UI) y calidad    del software, busca oportunidad de aplicar sus
                conocimientos y aprender el uso de nuevas herramientas para poder ofrecer a los usuarios
                soluciones que sean agradables y eficientes.
            </p>
        </div>
    </div> -->

    <div data-theme="black">
        <portfolio-navbar></portfolio-navbar>
        <portfolio-about-section></portfolio-about-section>
        <portfolio-habilities-section></portfolio-habilities-section>
    </div>


