        <div data-theme="black" class="pb-4">
            <portfolio-cover-section></portfolio-cover-section>
         
            <portfolio-about-section></portfolio-about-section>

            <portfolio-habilities-section></portfolio-habilities-section>
    
            <!-- <portfolio-projects-section></portfolio-projects-section>
        
            <portfolio-education-section></portfolio-education-section>
        
            <portfolio-work-experience-section></portfolio-work-experience-section>
    
            <portfolio-contact-section></portfolio-contact-section> -->
        </div>


