    <portfolio-navbar></portfolio-navbar>

    <!----About me----->
    <div class="grid grid-cols-5 grid-rows-4 gap-4 px-8 h-96 my-8">
        <div class="row-span-4 col-span-2 rounded-lg place-items-center">
            <div class="h-full rounded-full p-4 bg-linear-65 from-slate-500 to-fuchsia-400">
                <img src="assets/images/kenianieves.jpg" alt="myPhoto" class="h-full rounded-full">
            </div>
        </div>
        <div class="col-span-3 py-4">
            <p class="montserrat-alternates-bold text-4xl">Kenia Nieves</p>
            <p class="poppins-light text-slate-500">Front-End Developer | QA Automation | UX/UI Designer</p>
        </div>
        <div class="col-span-3 row-span-3 py-4">
            <p class="montserrat-alternates-bold text-2xl">Acerca de mi</p>
            <p class="poppins-light pr-8">
                Graduada de la Carrera de Software
                apasionada por el diseño de experiencia de
                usuario (UX), interfaz de usuario (UI) y calidad
                del software, busca oportunidad de aplicar sus
                conocimientos y aprender el uso de nuevas
                herramientas para poder ofrecer a los usuarios
                soluciones que sean agradables y eficientes.
            </p>
        </div>
    </div>

    <!----My habilities---->
    <div class="grid grid-cols-3 gap-4 p-8 text-center text-white">
        <div class="rounded-lg bg-gray-800 p-4">
            <p class="text-lg montserrat-alternates-bold text-fuchsia-300/75">Herramientas Dev</p>
            <hr>
            <ul class="poppins-light">
                <li>Angular</li>
                <li>Html</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>TailwindCSS</li>
                <li>Bootstrap</li>
                <li>Sql Server</li>
            </ul>
        </div>
        <div class="rounded-lg bg-gray-800 p-4">
            <p class="text-lg montserrat-alternates-bold text-fuchsia-300/75">Herramientas QA</p>
            <hr>
            <ul class="poppins-light">
                <li>Selenium</li>
                <li>Postman</li>
                <li>JMeter</li>
            </ul>
        </div>
        <div class="rounded-lg bg-gray-800 p-4">
            <p class="text-lg montserrat-alternates-bold text-fuchsia-300/75">Herramientas UX/UI</p>
            <hr>
            <ul class="poppins-light">
                <li>Figma</li>
                <li>Adobe XD</li>
                <li>Maze</li>
            </ul>
        </div>
    </div>
